extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
      
        h1 Azal Khaled
    
        p.lead.text-light
          | Environmentalist and a Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hi, it's so nice to virtually meet you, I'm Azal. I'm a dedicated environmental professional. I recently finished a Environmental Science and Policy's Bachelor's from Clark University.
            | At the moment I have been focusing on Full Stack Web Development.
            | I love learning and it has been an amazing experience to study technologies, especially programming because of it ability to help improve sustainability. 
            | "If it doesn't challenge you, it doesn't change you." -Fred DeVito  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
    
        ul
          li Frontend JavaScript
          li Backend JavaScript
          li HTML
          li CSS
          li jQuery
          li Node.js
          li Express Web Application
          li Ajax
          li Git
          li Teamwork
        h6 Contact Info
        
        ul
          li akhaled@clarku.edu
     
        a.button.expanded(href='https://www.linkedin.com/in/azal-khaled/', target= '_blank') LinkedIn
        a.button.expanded(href='https://github.com/Akhaled19', target= '_blank') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  