extends layout.pug

block content
  .error  
    h2.sorry Sorry
    h4 Looks like you are lost...
  
    img(src="/static/images/404-error-mad-cat.png" )
    br
    br
    a.return.button(href='/') Return Home